Greedy/bin
Binary_Search_Tree/bin
Graph/bin
Graph/input.txt
Graph/output.txt
Dynamic_Programming/input.txt
Dynamic_Programming/output.txt
Stack_and_Queues/input.txt
Stack_and_Queues/output.txt
Searching_and_Sorting/input.txt
Searching_and_Sorting/output.txt
stl/bin
*.exe
*.exe~